@import "latte.css";
* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(239,241,245, 0);
    color: @text;
}

tooltip {
    border-radius: 5px;
    border-width: 0px;
    background: @mantle;
    color: @text;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#custom-weather,
#custom-update,
#workspaces,
#mpris,
#tray,
#keyboard-state,
#custom-notifications,
#bluetooth,
#network,
#pulseaudio,
#battery,
#window,
#backlight {
    background: @mantle;
    padding: 0px 5px;
    margin: 4px 0px 4px 0px ;
    border: 0;
}

#clock {
    color: @lavender;
    border-radius: 5px 0px 0px 5px;
    margin-left: 5px;
}

#cpu {
    color: @teal;
}

#memory {
    color: @green;
}

#disk {
    color: @yellow;
}

#temperature {
    color: @peach;
    border-radius: 0px 5px 5px 0px;
}

#temperature.critical {
    color: @red;
}


#custom-weather {
    border-radius: 5px;
    margin-left: 5px;
}



#custom-update{
    border-radius: 5px;
    margin-left: 5px ;
    color: @sky;
}

#window {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#workspaces {
    background: @mantle;
    border-radius: 5px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}
#workspaces button {
    padding: 5px;
    color: @surface0;
    margin-right: 5px;
}

#workspaces button.active {
    color: @text;
    background: @mantle;
    border-radius: 5px;
}

#workspaces button.focused {
    color: @rosewater;
    background: @surface0;
    border-radius: 5px;
}

#workspaces button.urgent {
    color: @crust;
    background: @mauve;
    border-radius: 5px;
}

#workspaces button:hover {
    background: @crust;
    color: @text;
    border-radius: 5px;
}

#tray {
    border-radius: 5px 0px 0px 5px;
}

#tray > .active {
    color: @text;
}

#tray > .passive {
    color: @overlay0;
}

#tray > .needs-attention {
    color: @peach;
}


#mpris {
    color: @green;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}


#keyboard-state{
    border-radius: 0px 5px 5px 0px;
    color: @mauve;
}



#custom-notifications{
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    color: @lavender;
}

#bluetooth {
    color: @blue;
    border-radius: 5px 0px 0px 5px;
}

#network {
    color: @teal;
}
#pulseaudio {
    color: @green;
}
#pulseaudio.microphone {
    color: @yellow;
}
#battery {
    color: @maroon;
}
#backlight {
    color: @red;
    margin-right: 5px;
    border-radius: 0px 5px 5px 0px;
}
