@import "mocha.css";
* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 24px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @text;
}

tooltip {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @crust;
    background: @base;
}

#workspaces button {
    padding: 5px;
    color: @surface0;
    margin-right: 5px;
}

#workspaces button.active {
    color: @subtext0;
}

#workspaces button.focused {
    color: @subtext0;
    background: @maroon;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @crust;
    background: @green;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @crust;
    color: @text;
    border-radius: 10px;
}

#custom-weather,
#custom-spotify,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#window,
#tray,
#backlight {
    background: @base;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid @mantle;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: @base;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}
#window{
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#clock {
    color: @peach;
    border-radius: 10px 0px 0px 10px;
}

#network {
    color: @yellow;
}

#bluetooth {
    color: @blue;
}

#pulseaudio {
    color: @blue;
}

#pulseaudio.microphone {
    color: @mauve;
}

#memory {
    color: @yellow;
}

#cpu {
    color: @green;
}

#disk {
    color: @blue;
}

#temperature {
    border-radius: 0px 10px 10px 0px;
}

#temperature.critical {
    color: @maroon;
}

#battery {
    color: @green;
    border-radius: 10px 0px 0px 10px;
}

#custom-weather {
    border-radius: 10px;
    margin-left: 10px;
}

#custom-spotify {
    color: @green;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}