/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import url("browser/main.css");


:root {
    --user-sidebar-width: 130px;
    &[uidensity=compact] {
        --user-sidebar-width: 110px;
    }

    @media (-moz-bool-pref: "uc.tweak.round-browser") {
        --user-radius: 6px;
    }

    @media (-moz-bool-pref: "uc.tweak.browser-margins") {
        --user-margin: 8px !important;
        &[uidensity=compact] {
            --user-margin: 6px !important;
        }
    }

    @media (prefers-color-scheme: light) {
        --user-bg: rgb(239, 239, 242) !important;
        @media (-moz-bool-pref: "uc.tweak.translucency") {
            --user-bg: color-mix(in srgb, rgb(239, 239, 242), transparent 20%) !important;
        }
    }

    @media (prefers-color-scheme: dark) {
        --user-bg: rgb(27, 26, 32) !important;
        @media (-moz-bool-pref: "uc.tweak.translucency") {
            --user-bg: color-mix(in srgb, rgb(27, 26, 32), transparent 20%) !important;
        }
    }

    &[lwtheme="true"] {
        --user-bg: var(--lwt-accent-color) !important;
        @media (-moz-bool-pref: "uc.tweak.translucency") {
            --user-bg: color-mix(in srgb, var(--lwt-accent-color), transparent 20%) !important;
        }
    }
}
