/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Reversal-purple";
  display-drun: " ";
  display-window: " ";
  display-combi: " ";
}
@theme "themes/catppuccin-latte.rasi"

