@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: Maple Mono NF CN;
  font-weight: bold;
  font-size: 11px;
  min-height: 5px;
}

window#waybar {
  background: rgba(30, 30, 46, 0);
  color: @text;
}

tooltip {
  border-radius: 10px;
  background: @mantle;
  color: @text;
}

/* Unified styling for your remaining active modules */
#workspaces,
#window,
#tray,
#custom-notifications,
#clock {
  background: @mantle;
  color: @text;
  padding: 0px 10px;
  margin: 4px 5px;
  border-radius: 10px;
}

/* Specific Workspaces Styling */
#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  padding: 5px;
  color: @surface1; /* Dimmed text for inactive workspaces */
}

#workspaces button.active,
#workspaces button.focused {
  color: @text;
  background: @base; /* Subtle contrast against the mantle background */
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @crust;
  background: @text; /* High contrast inversion for urgent */
  border-radius: 10px;
}

#workspaces button:hover {
  background: @surface0;
  color: @text;
  border-radius: 10px;
}

/* Specific Tray Styling */
#tray > .active {
  color: @text;
}

#tray > .passive {
  color: @surface1;
}

#tray > .needs-attention {
  color: @text;
}