/*
Minimal Caprine Catppuccin Theme
Press Command/Ctrl+R in Caprine to see your changes.
*/

:root {
    /* Mocha (Dark Mode Colors) */
    --mocha-text: #cdd6f4;
    --mocha-subtext1: #bac2de;
    --mocha-surface0: #313244;
    --mocha-base: #1e1e2e;
    --mocha-mantle: #181825;
    --mocha-lavender: #b4befe;
    --mocha-mauve: #cba6f7;

    /* Latte (Light Mode Colors) */
    --latte-text: #4c4f69;
    --latte-subtext1: #5c5f77;
    --latte-surface0: #ccd0da;
    --latte-base: #eff1f5;
    --latte-mantle: #e6e9ef;
    --latte-rosewater: #dc8a78;
    --latte-flamingo: #dd7878;
}

.__fb-dark-mode {
    --card-background: var(--mocha-base) !important;
    --comment-background: var(--mocha-mantle) !important;
    --card-background-flat: var(--mocha-mantle) !important;
    --disabled-button-background: var(--mocha-lavender) !important;
    --divider: var(--mocha-mantle) !important;
    --hosted-view-selected-state: var(--mocha-mantle) !important;
    --messenger-card-background: var(--mocha-base) !important;
    --messenger-reply-background: var(--mocha-mantle) !important;
    --popover-background: var(--mocha-mantle) !important;
    --primary-icon: var(--mocha-lavender) !important;
    --primary-text: var(--mocha-text) !important;
    --scroll-thumb: var(--mocha-mauve) !important;
    --secondary-button-background: var(--mocha-surface0) !important;
    --secondary-icon: var(--mocha-lavender) !important;
    --secondary-text: var(--mocha-subtext1) !important;
    --surface-background: var(--mocha-surface0) !important;
    --wash: var(--mocha-mantle) !important;
    --web-wash: var(--mocha-mantle) !important;
    --container-color: var(--mocha-mantle) !important;
}

.__fb-light-mode {
    --card-background: var(--latte-base) !important;
    --comment-background: var(--latte-mantle) !important;
    --card-background-flat: var(--latte-mantle) !important;
    --disabled-button-background: var(--latte-rosewater) !important;
    --divider: var(--latte-mantle) !important;
    --hosted-view-selected-state: var(--latte-mantle) !important;
    --messenger-card-background: var(--latte-base) !important;
    --messenger-reply-background: var(--latte-mantle) !important;
    --popover-background: var(--latte-mantle) !important;
    --primary-icon: var(--latte-flamingo) !important;
    --primary-text: var(--latte-text) !important;
    --scroll-thumb: var(--latte-rosewater) !important;
    --secondary-button-background: var(--latte-surface0) !important;
    --secondary-icon: var(--latte-rosewater) !important;
    --secondary-text: var(--latte-subtext1) !important;
    --surface-background: var(--latte-surface0) !important;
    --wash: var(--latte-mantle) !important;
    --web-wash: var(--latte-mantle) !important;
    --container-color: var(--latte-mantle) !important;
}

/* Global Font Override */
#facebook .system-fonts--body div,
#facebook .system-fonts--body span,
#facebook .system-fonts--body p,
#facebook .system-fonts--body a {
    font-family: "Maple Mono NF", monospace !important;
}